
  .box {
    display: inline-block;       
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    border-radius: 100%;
    }
  
  .off {
    background-color: white;
  }
  
  .on {
    background-color: greenyellow;
  }
    
  .box:hover { 
    background: #00CCFF;
  }
  
  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
  }
    
  h1, h2, h3, h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
  }
  
  h4 {
    margin-top: 0px;
  }